<div class = "commentator">
	<div class = "image">
	 	<%= image_tag @post.content %>
	</div>
	<div class = "topcomment">
		<%- if @post.comments.any? %>
 		<h1>
 			<%= @post.comments.last.body %>
 		</h1>
 		<h2>
 			- <%= link_to @post.comments.last.user.username, user_path(@post.comments.first.user) %>
 		</h2>
 		<%- else %>
 		<h1>
 			No comments!
 		</h1>
 		<% end %>
 		<%- if @post.tag_list %>
 		<div class = "tags">
 			<%- @post.tag_list.each do |tag| %>
 			<%= link_to "#" + "#{ tag }" %>
 			<% end %>
 		</div>
 		<% end %>
 		<div class = "vote">
 			<%= link_to '-1' %> / <%= link_to '+1' %>
 		</div>
 	</div>
</div>